
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
:root {
    grey-color: #EEEFF1;
    blue-color: #34547A;
}
.container {
    width: 100%;
    max-width: 1370px;
    margin: 0 auto;
}

/* header */

.header {
    
}
.container.header {
}
.navbar_items-block {
    display: flex;
    justify-content: center;
    align-items:center;
}
.WD-text {
    font-family: "Revalia", sans-serif;
    font-size: 48px;
    margin-right: 398px;
    color: #34547A;
}
.navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 42px;
}
.navbar-item {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
}
.screen_items-block {
}
.screen-header {
}
.text-header-screen {
}
.p-header-screen {
}
.screen_button_header {
}
.navbar_button {
}
